<html xmlns:tm="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org">
<html>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="/js/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        console.log('home');
        $('#btn_list').on('click', function(){
            $.get('/boards', function(data){
                console.log(data);
            });
        });

        $('#btn_read').on('click', function(){
            $.get('/boards/' + $('#inp_bd_no').val(), function(data){
                console.log(data);
            });

        });

        $('#btn_post').on('click', function(){

            var boardData = {
                title : $('#title').val()
                , content : $('#content').val()
                , author_nm : $('#author_nm').val()
            }

            $.ajax({
                url : '/boards'
                , type : 'POST'
                , data : JSON.stringify(boardData)
                , contentType : 'application/json; charset=UTF-8'
                , success : function(data){
                    console.log(data);
                }
                , error : function(req, status, error) {
                    console.log(req + status + error);
                }
            });

        });

        $('#btn_modify').on('click', function(){

            var boardData = {
                title : $('#title').val()
                , content : $('#content').val()
                , author_nm : $('#author_nm').val()
                , bd_no : '1'
            }

            $.ajax({
                url : '/boards'
                , type : 'PUT'
                , data : JSON.stringify(boardData)
                , contentType : 'application/json; charset=UTF-8'
                , success : function(data){
                    console.log(data);
                }
                , error : function(req, status, error) {
                    console.log(req + status + error);
                }
            });

        });

        $('#btn_delete').on('click', function(){
            $.ajax({
                url : '/boards/' + $('#inp_bd_no').val()
                , type : 'DELETE'
                , contentType : 'application/json; charset=UTF-8'
                , success : function(data){
                    console.log(data);
                }
                , error : function(req, status, error) {
                    console.log(req + status + error);
                }
            });

        });
    });
</script>
<body>
ItemList
</body>
</html>