<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Code">

    <select id="getCodeList" parameterType="kr.devsnote.code.CodeVO" resultType="Hmap">
        /* code-mapper.xml getCodeList  코드 조회 */
        <include refid="getCodeListSql" />
    </select>

    <sql id="getCodeListSql">
        /* tb_code 테이블을 조회하는 쿼리를 작성하세요 */
          SELECT tb1.grp_cd
               , tb2.grp_cd_nm
               , tb1.cd
               , tb1.cd_nm
               , tb1.sort_no
               , DATE_FORMAT(tb1.in_dtm, '%Y-%m-%d %H:%i:%s') in_dtm
            FROM tb_code tb1
            LEFT OUTER JOIN tb_code_group tb2
              ON tb1.grp_cd = tb2.grp_cd
        <where>
                 1 = 1
            <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(grp_cd)'>
             AND tb1.grp_cd = #{grp_cd}
            </if>
            <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(cd)'>
             AND tb1.cd = #{cd}
            </if>
            <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(search_word)'>
             AND (   UPPER(tb1.grp_cd) LIKE CONCAT('%', UPPER(#{search_word}), '%')
                  OR UPPER(tb1.cd)     LIKE CONCAT('%', UPPER(#{search_word}), '%')
                  OR UPPER(tb1.cd_nm)  LIKE CONCAT('%', UPPER(#{search_word}), '%')
                 )
            </if>
        ORDER BY tb1.grp_cd, tb1.sort_no, tb1.cd
        </where>
    </sql>

    <insert id="insertCode" parameterType="kr.devsnote.code.CodeVO">
        /* code-mapper.xml insertCode 코드 입력 */
        INSERT
          INTO tb_code
             (
               grp_cd
             , cd
             , cd_nm
             , sort_no
             , in_dtm
             )
        VALUES
             (
               #{grp_cd}
             , #{cd}
             , #{cd_nm}
             , #{sort_no}
             , #{in_dtm}
             )
    </insert>

    <update id="updateCode" parameterType="kr.devsnote.code.CodeVO">
        /* code-mapper.xml updateCode 코드 수정 */
        UPDATE tb_code
           SET in_dtm = NOW()
        <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(grp_cd)'>
             , grp_cd = #{grp_cd}
        </if>
        <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(cd)'>
             , cd = #{cd}
        </if>
        <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(cd_nm)'>
            , cd_nm = #{cd_nm}
        </if>
        <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(sort_no)'>
            , sort_no = #{sort_no}
        </if>
        WHERE grp_cd = #{grp_cd}
          AND cd = #{cd}
    </update>

    <delete id="deleteCode" parameterType="kr.devsnote.code.CodeVO">
        /* code-mapper.xml deleteCode 코드 삭제 */
        DELETE FROM tb_code
         WHERE grp_cd = #{grp_cd}
           AND cd = #{cd}
    </delete>

    <select id="getGroupCodeList" parameterType="kr.devsnote.code.CodeVO" resultType="Hmap">
        /* code-mapper.xml getGroupCodeList  그룹 코드 조회 */
        <include refid="getGroupCodeListSql" />
    </select>

    <sql id="getGroupCodeListSql">
        SELECT tb1.grp_cd
        , tb1.grp_cd_nm
        , tb1.sort_no
        , DATE_FORMAT(tb1.in_dtm, '%Y-%m-%d %H:%i:%s') in_dtm
        FROM tb_code_group tb1
        <where>
            1 = 1
            <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(grp_cd)'>
                AND tb1.grp_cd = #{grp_cd}
            </if>
            <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(grp_cd_nm)'>
                AND tb1.grp_cd_nm = #{grp_cd_nm}
            </if>
            <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(search_word)'>
                AND (   UPPER(tb1.grp_cd) LIKE CONCAT('%', UPPER(#{search_word}), '%')
                OR UPPER(tb1.grp_cd_nm)  LIKE CONCAT('%', UPPER(#{search_word}), '%')
                )
            </if>
            ORDER BY tb1.sort_no, tb1.grp_cd
        </where>
    </sql>

    <insert id="insertGroupCode" parameterType="kr.devsnote.code.CodeVO">
        /* code-mapper.xml insertCode 그룹 코드 입력 */
       INSERT
         INTO tb_code_group
            (
              grp_cd
            , grp_cd_nm
            , sort_no
            , in_dtm
            )
       VALUES
            (
              #{grp_cd}
            , #{grp_cd_nm}
            , #{sort_no}
            , #{in_dtm}
            )
    </insert>

    <update id="updateGroupCode" parameterType="kr.devsnote.code.CodeVO">
        /* code-mapper.xml updateGroupCode 그룹 코드 수정 */
        UPDATE tb_code_group
        SET in_dtm = NOW()
        <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(grp_cd)'>
            , grp_cd = #{grp_cd}
        </if>
        <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(grp_cd_nm)'>
            , grp_cd_nm = #{grp_cd_nm}
        </if>
        <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(sort_no)'>
            , sort_no = #{sort_no}
        </if>
        WHERE grp_cd = #{grp_cd}
        AND cd = #{cd}
    </update>

    <delete id="deleteGroupCode" parameterType="kr.devsnote.code.CodeVO">
        /* code-mapper.xml deleteGroupCode 그룹 코드 삭제 */
        DELETE FROM tb_code_group
        WHERE grp_cd = #{grp_cd}
    </delete>

</mapper>
