<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Code">

    <select id="getCodeList" parameterType="com.example.code.vo.Code" resultType="Hmap">
        /* board-mapper.xml getCodeList  코드 조회 */
        <include refid="getCodeListSql" />
    </select>

    <sql id="getCodeListSql">
        /* tb_code를 조회하는 쿼리를 작성하세요 */
        <where>
            <if test='@com.example.board.util.CommonUtil@isNotEmpty(grp_cd)'>
             AND tb1.grp_cd = #{grp_cd}
            </if>
            <if test='@com.example.board.util.CommonUtil@isNotEmpty(cd)'>
             AND tb1.cd = #{cd}
            </if>
        </where>
    </sql>

    <insert id="insertCode" parameterType="com.example.code.vo.Code">
        /* board-mapper.xml insertCode 코드 입력 */
        /* tb_code 테이블에 입력하는 쿼리를 작성하세요 */
    </insert>

    <update id="updateCode" parameterType="com.example.code.vo.Code">
        /* board-mapper.xml updateCode 코드 수정 */
        /* grp_cd와 cd를 이용하여 tb_code 테이블에 수정하는 쿼리를 작성하세요 */
    </update>

    <delete id="deleteCode" parameterType="com.example.code.vo.Code">
        /* board-mapper.xml deleteCode 코드 삭제 */
        /* grp_cd와 cd를 이용하여 tb_code 테입에서 삭제하는 쿼리를 작성하세요 */
    </delete>

</mapper>
