<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="File">

    <sql id="selectFileInfoListSql">
           SELECT file_id          /* varchar(40) PK comment '파일id' */
                , org_file_name    /* varchar(256) comment '원 파일이름' */
                , file_name        /* varchar(256) comment '저장 파일이름' */
                , file_path        /* varchar(512) comment '파일경로' */
                , file_ext         /* varchar(10) comment '파일확장자' */
                , file_size        /* varchar(20) comment '파일크기' */
                , in_id            /* varchar(50) comment '입력자 id ' */
                , DATE_FORMAT(in_dtm, '%Y-%m-%d %H:%i:%s') in_dtm /* datetime comment '입력일시' */
                , up_id            /* varchar(50) comment '수정자 id' */
                , DATE_FORMAT(up_dtm, '%Y-%m-%d %H:%i:%s') up_dtm /* datetime default now() comment '수정일시' */
                , system_type
             FROM tb_file_info tb1
        <where>
            <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(file_id)'>
              AND tb1.file_id = #{file_id}
            </if>
            <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(search_word)'>
              AND (  UPPER(tb1.file_id) LIKE CONCAT('%', UPPER(TRIM(#{search_word})), '%')
                  OR UPPER(tb1.org_file_name) LIKE CONCAT('%', UPPER(TRIM(#{search_word})), '%')
                  )
            </if>
            <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(system_type)'>
                AND tb1.system_type = #{system_type}
            </if>
        </where>
        ORDER BY in_dtm DESC
    </sql>

    <select id="getFileInfoList" parameterType="kr.devsnote.file.FileVO" resultType="Hmap">
        /* file-mapper.xml getFileInfoList */
        <include refid="selectFileInfoListSql"></include>
    </select>

    <select id="getFileInfo" parameterType="kr.devsnote.file.FileVO" resultType="Hmap">
        /* file-mapper.xml getFileInfo */
        <include refid="selectFileInfoListSql"></include>
    </select>

    <insert id="insertFileInfo" parameterType="kr.devsnote.file.FileVO" >
        /* file-mapper.xml insertFileInfo */
        INSERT
          INTO tb_file_info
             ( file_id          /* varchar(40) PK comment '파일id' */
             , org_file_name    /* varchar(256) comment '원 파일이름' */
             , file_name        /* varchar(256) comment '저장 파일이름' */
             , file_path        /* varchar(512) comment '파일경로' */
             , file_ext         /* varchar(10) comment '파일확장자' */
             , file_size        /* varchar(20) comment '파일크기' */
             , in_id            /* varchar(50) comment '입력자 id ' */
             , in_dtm           /* datetime comment '입력일시' */
             , up_id            /* varchar(50) comment '수정자 id' */
             , up_dtm           /* datetime default now() comment '수정일시' */
             , system_type
             )
        VALUES
             ( #{file_id}          /* varchar(40) PK comment '파일id' */
             , #{org_file_name}    /* varchar(256) comment '원 파일이름' */
             , #{file_name}        /* varchar(256) comment '저장 파일이름' */
             , #{file_path}        /* varchar(512) comment '파일경로' */
             , #{file_ext}         /* varchar(10) comment '파일확장자' */
             , #{file_size}        /* varchar(20) comment '파일크기' */
             , #{in_id}            /* varchar(50) comment '입력자 id ' */
             , NOW()              /* datetime comment '입력일시' */
             , #{up_id}            /* varchar(50) comment '수정자 id' */
             , NOW()              /* datetime default now() comment '수정일시' */
             , #{system_type}
             )
    </insert>

    <update id="updateFileInfo" parameterType="kr.devsnote.file.FileVO" >
        /* file-mapper.xml updateFileInfo */
        UPDATE tb_file_info
           SET up_dtm           = NOW()             /* datetime default now() comment '수정일시' */
             , org_file_name    = #{org_file_name}  /* varchar(256) comment '원 파일이름' */
             , file_name        = #{file_name}      /* varchar(256) comment '저장 파일이름' */
             , file_path        = #{file_path}      /* varchar(512) comment '파일경로' */
             , file_ext         = #{file_ext}       /* varchar(10) comment '파일확장자' */
             , file_size        = #{file_size}      /* varchar(20) comment '파일크기' */
             , up_id            = #{up_id}          /* varchar(50) comment '수정자 id' */
             , system_type      = #{system_type}
         WHERE file_id = #{file_id}
    </update>

    <delete id="deleteFileInfo" parameterType="kr.devsnote.file.FileVO">
        /* file-mapper.xml deleteFileInfo */
        DELETE FROM tb_file_info
         WHERE file_id = #{file_id}
    </delete>

    <select id="getFileDownloadLogList" parameterType="kr.devsnote.file.FileVO" resultType="Hmap">
        SELECT tb1.seq
        , tb1.file_id
        , tb1.status
        , tb1.in_ip
        , DATE_FORMAT(tb1.start_dtm, '%Y-%m-%d %H:%i:%S') start_dtm
        , DATE_FORMAT(tb1.end_dtm, '%Y-%m-%d %H:%i:%S') end_dtm
        , DATE_FORMAT(tb1.in_dtm, '%Y-%m-%d %H:%i:%S') in_dtm
        FROM tb_file_download_log tb1
        <where>
            <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(file_id)'>
                AND tb1.file_id = #{file_id}
            </if>
            <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(status)'>
                AND tb1.status = #{status}
            </if>
            <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(seq)'>
                AND tb1.seq = #{seq}
            </if>
            <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(srch_start_dtm)'>
                AND tb1.start_dtm >= DATE_FORMAT(#{srch_start_dtm}, '%Y-%m-%d %H:%i%S')
            </if>
            <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(srch_end_dtm)'>
                AND tb1.end_dtm <![CDATA[ <= ]]> DATE_FORMAT(#{srch_start_dtm}, '%Y-%m-%d %H:%i%S')
            </if>
            <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(diff_min)'>
                AND TIMESTAMPDIFF(MINUTE, tb1.start_dtm, now()) >= ${diff_min}
            </if>
        </where>
    </select>

    <select id="getMinDownloadingFileInfo" parameterType="kr.devsnote.file.FileVO" resultType="Hmap">
        SELECT tb0.file_id
             , COUNT(tb1.seq) cnt
        FROM tb_file_info tb0
                 LEFT OUTER JOIN
             (SELECT * FROM tb_file_download_log
              WHERE status = 'S') tb1
             ON tb0.file_id = tb1.file_id
        WHERE tb0.category = #{category}
        GROUP BY tb0.file_id
        ORDER BY COUNT(tb1.seq) DESC
            LIMIT 0, 1
    </select>

    <insert id="insertFileDownloadLog" parameterType="kr.devsnote.file.FileVO" >
        <selectKey keyProperty="seq" resultType="String" order="AFTER">
            SELECT CONCAT(LAST_INSERT_ID()) AS seq FROM DUAL
        </selectKey>
        INSERT
        INTO tb_file_download_log
        ( file_id
        , start_dtm
        , end_dtm
        , status
        , in_ip
        , msg
        , in_dtm
        )
        VALUES
        ( #{file_id}
        , DATE_FORMAT(#{start_dtm}, '%Y-%m-%d %H:%i:%S')
        , DATE_FORMAT(#{end_dtm}, '%Y-%m-%d %H:%i:%S')
        , #{status}
        , #{in_ip}
        , SUBSTR(#{msg}, 1, 1000)
        , NOW()
        )
    </insert>

    <update id="updateFileDownloadLog" parameterType="kr.devsnote.file.FileVO" >
        UPDATE tb_file_download_log
        SET up_dtm  = now()
        <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(file_id)'>
            , file_id = #{file_id}
        </if>
        <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(start_dtm)'>
            , start_dtm = DATE_FORMAT(#{start_dtm}, '%Y-%m-%d %H:%i:%S')
        </if>
        <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(end_dtm)'>
            , end_dtm = DATE_FORMAT(#{end_dtm}, '%Y-%m-%d %H:%i:%S')
        </if>
        <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(status)'>
            , status = #{status}
        </if>
        <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(in_ip)'>
            , in_ip = #{in_ip}
        </if>
        <if test='@kr.devsnote.util.CommonUtil@isNotEmpty(msg)'>
            , msg = SUBSTR(#{msg}, 1, 1000)
        </if>
        WHERE seq = #{seq}
    </update>

    <delete id="deleteFileDownloadLog" parameterType="kr.devsnote.file.FileVO" >
        DELETE FROM tb_file_download_log
        WHERE seq = #{seq}
    </delete>

    <update id="updateExpirationFileDownloadLog" parameterType="kr.devsnote.file.FileVO" >
        UPDATE tb_file_download_log
        SET status = 'F'
          , end_dtm = NOW()
          , up_dtm = NOW()
          , msg = 'connection timeout'
        WHERE status = 'S'
          AND TIMESTAMPDIFF(MINUTE, start_dtm, now()) >= 60
    </update>


</mapper>
