<html xmlns:tm="http://www.thymeleaf.org">
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="/js/jquery-3.6.0.min.js"></script>
<style>
    table {border:solid 1px black; border-collapse: collapse; width: 100%; margin-top:5px;}
    tr {border:solid 1px black; border-collapse: collapse}
    th {border:dotted 1px black; border-collapse: collapse}
    td {border:dotted 1px black; border-collapse: collapse; padding:5px;}
</style>
<script>
    $(document).ready(function(){

        $('#searchBtn').on('click', function(){
            console.log('search');
            $.get('/codes', function(data){
                console.log(data);
                drawTable(data);
            });
        });

        $('#insertBtn').on('click', function() {
            console.log('insert');
            let cd = $('#cd').val();
            let cd_nm = $('#cd_nm').val();
            let grp_cd = $('#grp_cd').val();
            let sort_no = $('#sort_no').val();
            console.log(cd + ', ' + cd_nm + ', ' + grp_cd + ', ' + sort_no);

            let codeData = {};
            codeData['cd'] = cd;
            codeData['cd_nm'] = cd_nm;
            codeData['grp_cd'] = grp_cd;
            codeData['sort_no'] = sort_no;
            console.log(codeData);


            $.ajax({
                url: '/codes'
                , type: 'POST'
                , data: JSON.stringify(codeData)
                , contentType: 'application/json; charset=UTF-8'
                , success: function (data) {
                    console.log(data);
                }
                , error: function (req, status, error) {
                    console.log(req + status + error);
                }
            });

        });

        $('#updateBtn').on('click', function() {
            console.log('update');
            let cd = $('#cd').val();
            let cd_nm = $('#cd_nm').val();
            let grp_cd = $('#grp_cd').val();
            let sort_no = $('#sort_no').val();
            console.log(cd + ', ' + cd_nm + ', ' + grp_cd + ', ' + sort_no);

            let codeData = {};
            codeData['cd'] = cd;
            codeData['cd_nm'] = cd_nm;
            codeData['grp_cd'] = grp_cd;
            codeData['sort_no'] = sort_no;
            console.log(codeData);

            $.ajax({
                url: '/codes'
                , type: 'PUT'
                , data: JSON.stringify(codeData)
                , contentType: 'application/json; charset=UTF-8'
                , success: function (data) {
                    console.log(data);
                }
                , error: function (req, status, error) {
                    console.log(req + status + error);
                }
            });

        });

        $('#deleteBtn').on('click', function(){
            console.log('delete');
            let cd = $('#cd').val();
            let grp_cd = $('#grp_cd').val();
            console.log(cd + ', '  + grp_cd );

            let codeData = {};
            codeData['cd'] = cd;
            codeData['grp_cd'] = grp_cd;
            console.log(codeData);

            $.ajax({
                url : '/items'
                , type : 'DELETE'
                , data : JSON.stringify(codeData)
                , contentType : 'application/json; charset=UTF-8'
                , success : function(data){
                    console.log(data);
                }
                , error : function(req, status, error) {
                    console.log(req + status + error);
                }
            });

        });

    });

    function drawTable(data){

        let html = '';
        for (let i = 0; i< data.length; i++){
            let code = {};
            code = data[i];
            console.log(code);

            html += '<tr>';
            html += ' <td>' + code['grp_cd']+'</td>';
            html += ' <td>' + code['cd']+'</td>';
            html += ' <td>' + code['cd_nm']+'</td>';
            html += ' <td>' + code['in_dtm']+'</td>';
            html += ' <td>' + code['sort_no']+'</td>';
            html += '</tr>';
            $('#tb1').html(html);
        }

    }
</script>
<body>
    <button id="searchBtn">조회</button>

    <table>
        <colgroup>
            <col style="width:10%;"/>
            <col style="width:20%;"/>
            <col style="width:45%;"/>
            <col style="width:10%;"/>
            <col style="width:15%;"/>
        </colgroup>
        <thead style="background-color:lightsteelblue;">
            <th>그룹코드명</th>
            <th>코드</th>
            <th>코드명</th>
            <th>순번</th>
            <th>작성일시</th>
        </thead>
        <tbody id="tb1">

        </tbody>
    </table>
    <br/>

    <input id="cd" type="text" placeholder="코드">
    <input id="cd_nm" type="text" placeholder="코드명">
    <input id="sort_no" type="number" placeholder="순번">

    <button id="insertBtn">입력</button>
    <button id="updateBtn">수정</button>
    <button id="deleteBtn">삭제</button>
</body>
</html>