<html xmlns:tm="http://www.thymeleaf.org">
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/table-pagination.js"></script>
<script src="/js/genexon.js"></script>
<style>
    table {border:solid 1px black; border-collapse: collapse; width: 100%; margin-top:5px;}
    tr {border:solid 1px black; border-collapse: collapse}
    th {border:dotted 1px black; border-collapse: collapse}
    td {border:dotted 1px black; border-collapse: collapse; padding:5px;}
</style>
<script>
    $(document).ready(function(){

        $('#searchBtn').on('click', function(){
            console.log('search');
            search();
        });

        $('#initBtn').on('click', function(){
            console.log('init');
            $('#search_word').val('');
        });

    });

    function search(){

        let search_word = $('#search_word').val();

        let contractData = {};
        contractData['search_word'] = search_word;
        contractData['row_cnt'] = 20;
        contractData['offset'] = 0;
        console.log(contractData);
        $.ajax({
            url: '/contracts'
            , type: 'GET'
            , data: contractData
            , contentType: 'application/json; charset=UTF-8'
            , success: function (data) {
                console.log(data);
                drawTable(data);
            }
            , error: function (req, status, error) {
                console.log(req + status + error);
            }
        });
    }

    function drawTable(data){

        let html = '';
        if (data.length == 0) {
            html += '<tr><td colspan="11" style="text-align:center;">조회된 결과가 없습니다. </td></tr>';
            $('#tb1').html(html);
        } else {
            for (let i = 0; i < data.length; i++) {

                let contract = {};
                contract = data[i];
                console.log(contract);

                html += '<tr>';
                html += ' <td>' + contract['emp_cd'] + '</td>';
                html += ' <td style="text-align: center;">' + contract['insco_cd'] + '</td>';
                html += ' <td>' + contract['inspol_no'] + '</td>';
                html += ' <td style="text-align: center;">' + genexon.formatComma(contract['cont_date'])+ '</td>';
                html += ' <td style="text-align: right;">' + genexon.formatComma(contract['first_prem']) + '</td>';
                html += ' <td style="text-align: right;">' + genexon.formatComma(contract['usi_prem']) + '</td>';
                html += ' <td style="text-align: right;">' + genexon.formatComma(contract['first_hwan']) + '</td>';
                html += ' <td style="text-align: right;">' + genexon.formatComma(contract['usi_hwan']) + '</td>';
                html += ' <td style="text-align: right;">' + contract['rate'] + '</td>';
                html += ' <td style="text-align: center;">' + contract['status'] + '</td>';
                html += ' <td style="text-align: right;">' + genexon.formatComma(contract['cnt']) + '</td>';
                html += '</tr>';

                $('#tb1').html(html);
            }
        }

        /*
        $("#tb").createTablePagination({
            rowPerPage: 10,
            // paginationColor: '#FFA4B6',
            paginationColor: '#6F7AD7',
            fontColor: '#0B1354',
            paginationStyle: 'Borderless',
            jumpPage: 'Disabled'
        });
         */
    }

</script>
<body>
    <input id="search_word" type="text" placeholder="보험사코드|보험사명" style="width:200px;">

    <button id="searchBtn">조회</button>
    <!--
    <button id="insertBtn">입력</button>
    <button id="updateBtn">수정</button>
    <button id="deleteBtn">삭제</button>
    -->
    <button id="initBtn">초기화</button>

    <table id="tb">
        <colgroup>
            <col style="width:;"/>
            <col style="width:;"/>
            <col style="width:;"/>
            <col style="width:;"/>
            <col style="width:;"/>
            <col style="width:;"/>
            <col style="width:;"/>
            <col style="width:;"/>
            <col style="width:;"/>
            <col style="width:;"/>
            <col style="width:;"/>
        </colgroup>
        <thead style="background-color:#6F7AD7;color:#eaeaea;">
            <th>사번</th>
            <th>보험사코드</th>
            <th>증권번호</th>
            <th>계약일</th>
            <th>초회보험료</th>
            <th>유지보험료</th>
            <th>초회환산</th>
            <th>유지환산</th>
            <th>조정율</th>
            <th>상태</th>
            <th>회차</th>
        </thead>
        <tbody id="tb1">

        </tbody>
    </table>
    <br/>

</body>
</html>