<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tm="http://www.thymeleaf.org">
<title>Home</title>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <style>
        table {border:solid 1px black; border-collapse: collapse; width: 100%; margin-top:5px;}
        tr {border:solid 1px black; border-collapse: collapse}
        th {border:dotted 1px black; border-collapse: collapse}
        td {border:dotted 1px black; border-collapse: collapse; padding:5px;}
    </style>
    <script>
        $(document).ready(function(){

            $('#checkDupBtn').on('click', function(e){
                console.log();
            });

            $('#searchBtn').on('click', function(e){
                let cust_id = $('#cust_id').val();
                if (cust_id == ''){
                    alert('ID는 와 입력안하노?');
                    return;
                }
                $.ajax({
                    url: '/customers' + '/' + cust_id
                    , type: 'GET'
                    , data: {cust_id : cust_id}
                    , contentType: 'application/json; charset=UTF-8'
                    , success: function (data) {
                        console.log(data);
                        if (data.result == 'OK') {
                            console.log('조회성공');
                            fillCustomerDetails(data);
                        } else {
                            console.log('조회실패');
                        }
                    }
                    , error: function (req, status, error) {
                        console.log(req + status + error);
                    }
                });
            });

            $('#checkBtn').on('click', function(e){
                $('#contents').html('');
                let html = '';
                let hobbies = '';
                $('input:checkbox[name=hobby]').each(function (index) {
                    if($(this).is(":checked")==true){
                        console.log($(this).val());
                        hobbies += $(this).val() + ',';
                    }
                });
                html += '고객 ID : ' + $('#cust_id').val() + '<br>';f
                html += '이름 : ' + $('#cust_name').val() + '<br>';
                html += '성별 : ' + $('[name=gender]:checked').val() + '<br>';
                html += '취미 : ' + hobbies + '<br>';
                html += '지역 : ' + $('#region').val() + '<br>';
                html += '인사말 : ' + $('#introduction').val() + '<br>';
                $('#contents').html(html);
            });

            $('#saveBtn').on('click', function() {
                console.log('save');
                let cust = {};
                let hobbies = '';
                $('input:checkbox[name=hobby]').each(function (index) {
                    if($(this).is(":checked")==true){
                        console.log($(this).val());
                        hobbies += $(this).val() + ',';
                    }
                });

                cust['cust_id'] =  $('#cust_id').val();
                cust['cust_name'] = $('#cust_name').val();
                cust['gender'] = $('[name=gender]:checked').val();
                cust['hobby'] = hobbies;
                cust['region'] = $('#region').val();
                cust['introduction'] = $('#introduction').val();
                console.log(cust);

                $.ajax({
                    url: '/customers'
                    , type: 'POST'
                    , data: JSON.stringify(cust)
                    , contentType: 'application/json; charset=UTF-8'
                    , success: function (data) {
                        console.log(data);
                        if (data.result == 'OK') {
                            alert('저장되었습니다. ');
                        } else {
                            alert('저장되지 않았습니다. ');
                        }

                    }
                    , error: function (req, status, error) {
                        console.log(req + status + error);
                    }
                });

            });

            $('#fileUploadBtn').on('click', function(){
               uploadFile();
            });

        });

        function fillCustomerDetails(data){
            $('#cust_name').val(data.cust_name);
            if(data.gender == 'M'){
                $('#gender1').prop('checked', true);
            } else if (data.gender == 'W') {
                $('#gender2').prop('checked', true);
            }
            let hobbies = data.hobby.split(',');
            for (let i = 0; i<hobbies.length; i++){
                console.log(hobbies[i]);
                $('#hobby' + hobbies[i]).prop('checked', true);
            }
            $('#region').val(data.region);
            $('#introduction').text(data.introduction);
        }

        function uploadFile(){
            let form = new FormData();
            form.append( "file", $("#file")[0].files[0] );

            $.ajax({
                url : "/upload"
                , type : "POST"
                , processData : false
                , contentType: false
                , data : form
                , success:function(response) {
                    console.log("성공");
                    console.log(response.result);
                    //$('#file_id').val(response.file_id);
                    //getFileInfo();
                }
                ,error: function (err) {
                    console.log(err.responseText);
                }
            });

        }

        function getFileInfo(){
            let file_id = $('#file_id').val();
            $.ajax({
                url: '/files-info/' + file_id
                , type: 'GET'
                , data: {file_id : file_id}
                , contentType: 'application/json; charset=UTF-8'
                , success: function (data) {
                    console.log(data);
                    if (data.result == 'OK') {
                        console.log('조회성공');
                        console.log(data);
                        $('#file_path').text(data.file_path);
                        $('#profile_img').attr("src", "/resources/" + data.file_name);
                    } else {
                        console.log('조회실패');
                    }
                }
                , error: function (req, status, error) {
                    console.log(req + status + error);
                }
            });
        }
    </script>
</head>

<body>
<!--
<form>
    <input name="file">
    <submit></submit>
</form>
-->
    <h2>등록하세요. 냉큼</h2>
    <table>
        <thead>
            <th>구분</th>
            <td>내용</td>
        </thead>
        <tbody>
            <tr>
                <th>ID</th>
                <td>
                    <input id="cust_id" type="text" th:value="${cust_id}">
                    <button id="checkDupBtn">중복획인</button>
                    <button id="searchBtn">고객조회</button>
                </td>
            </tr>
            <tr>
                <th>이름</th>
                <td><input id="cust_name" type="text"></td>
            </tr>
            <tr>
                <th>성별</th>
                <td>
                    <input type="radio" id="gender1" name="gender" value="M" checked><label for="gender1">남자</label>
                    <input type="radio" id="gender2" name="gender" value="W" ><label for="gender2">여자</label>
                </td>
            </tr>
            <tr>
                <th>취미</th>
                <td>
                    <input type="checkbox" id="hobby1" name="hobby" value="1" checked><label for="hobby1">골프</label>
                    <input type="checkbox" id="hobby2" name="hobby" value="2"><label for="hobby2">영화</label>
                    <input type="checkbox" id="hobby3" name="hobby" value="3"><label for="hobby3">코딩</label>
                </td>
            </tr>
            <tr>
                <th>지역</th>
                <td>
                    <select id="region">
                        <option value="1">서울</option>
                        <option value="2" selected>경기</option>
                        <option value="3">울산</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>인사말</th>
                <td><textarea type="textarea" id="introduction" style="min-height:40px;"></textarea></td>
            </tr>
            <tr>
                <th>파일첨부</th>

                    <td>
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" id="file"><button type="submit">파일올리기</button>
                        </form>
                        <input type="hidden" id="file_id">
                        <span id="file_path"></span>
                        <img id="profile_img" style="width:36px;height:36px;"></img>
                        <button id="fileUploadBtn" >파일올리기(AJAX)</button>
                        <img id="default_profile_img" style="width:36px;height:36px;" src="/img/profile.png">
                    </td>

            </tr>
        </tbody>
    </table>

    <br>
    <button id="checkBtn">확인</button>
    <button id="saveBtn">저장</button>
    <br>
    <div id="contents" style="margin-top:10px;border:1px solid black;min-height:20px;padding: 5px;">
    </div>
    <div>
        <pre>
        - 파일 관리는 물리파일 관리와 파일 정보 관리로 이루어진다.
        - 파일 정보
           파일의 원래 이름, 저장하는(저장된) 이름, 확장자, 파일크기, 파일이 저장되는 경로
        - 파일업로드
            업로드되고나면 파일명 보여주기/미리보기
        - 파일다운로드
            업로드된 파일을 다운로드
            프로젝트에 포함된 파일을 다운로드(또는 프로젝트에 포함된 파일을 활용하여 다운로드할 파일을 생성, 엑셀다운로드, pdf다운로드 등)
        </pre>

    </div>
</body>
</html>