<html xmlns:tm="http://www.thymeleaf.org">
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/table-pagination.js"></script>
<script>
    $(document).ready(function(){

    });
</script>
<body>
    <h1 style="margin-top:10px;"><img src="/img/under-construction.png" style="width:44px;margin-bottom:-10px;margin-right:10px;">DevsNote 삽질 사이트</h1>
    <div>
        ㅇ v0.1 git.devsnote.kr 과 sync
    </div>
</body>
</html>