<html xmlns:tm="http://www.thymeleaf.org">
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="/js/jquery-3.6.0.min.js"></script>
<style>
    table {border:solid 1px black; border-collapse: collapse; width: 100%; margin-top:5px;}
    tr {border:solid 1px black; border-collapse: collapse}
    th {border:dotted 1px black; border-collapse: collapse}
    td {border:dotted 1px black; border-collapse: collapse; padding:5px;}
</style>
<script>
    $(document).ready(function(){

        // 공통코드로 부터 카테고리를 조회하여 category 셀렉트 박스를 완성하세요.
        // 카테고리 셀렉트 박스의 선택값으로 조회, 입력, 수정, 삭제가 가능하도록 소스코드를 수정하세요.
        getCategoryList();

        $('#searchBtn').on('click', function(){
            console.log('search');
            let author = $('#author').val();
            let contents = $('#contents').val();
            let title = $('#cd_nm').val();
            let category = $('#category').val();
            let seq = $('#seq').val();
            let row_cnt = $('#row_cnt').val();

            let boardData = {};
            boardData['author'] = author;
            boardData['contents'] = contents;
            boardData['title'] = title;
            boardData['category'] = category;
            boardData['seq'] = seq;
            boardData['row_cnt'] = row_cnt;
            boardData['isPage'] = true;
            console.log(boardData);
            $.ajax({
                url: '/items'
                , type: 'GET'
                , data: boardData
                , contentType: 'application/json; charset=UTF-8'
                , success: function (data) {
                    console.log(data);
                    drawTable(data);
                }
                , error: function (req, status, error) {
                    console.log(req + status + error);
                }
            });
        });

        $('#insertBtn').on('click', function() {
            console.log('insert');
            let title = '';
            let contents = '';
            let author = '';
            let category = '';
            title = $('#title').val();
            contents = $('#contents').val();
            author = $('#author').val();
            category = $('#category').val();
            console.log(title + ', ' + contents + ', ' + author + ', ' + category);

            var boardData = {};
            boardData['title'] = title;
            boardData['contents'] = contents;
            boardData['author'] = author;
            boardData['category'] = category;
            console.log(boardData);


            $.ajax({
                url: '/items'
                , type: 'POST'
                , data: JSON.stringify(boardData)
                , contentType: 'application/json; charset=UTF-8'
                , success: function (data) {
                    console.log(data);
                }
                , error: function (req, status, error) {
                    console.log(req + status + error);
                }
            });

        });

        $('#updateBtn').on('click', function() {
            console.log('update');
            let title = $('#title').val();
            let contents = $('#contents').val();
            let author = $('#author').val();
            let seq = $('#seq').val();
            let category = $('#category').val();
            console.log(seq + ', ' + title + ', ' + contents + ', ' + author + ', ' + category);

            let boardData = {};
            boardData['title'] = title;
            boardData['contents'] = contents;
            boardData['author'] = author;
            boardData['seq'] = seq;
            boardData['category'] = category;
            console.log(boardData);

            $.ajax({
                url: '/items'
                , type: 'PUT'
                , data: JSON.stringify(boardData)
                , contentType: 'application/json; charset=UTF-8'
                , success: function (data) {
                    console.log(data);
                }
                , error: function (req, status, error) {
                    console.log(req + status + error);
                }
            });

        });

        $('#deleteBtn').on('click', function(){
            console.log('delete');
            let seq = $('#seq').val();
            console.log(seq);

            let boardData = {};
            boardData['seq'] = seq;
            console.log(boardData);

            $.ajax({
                url : '/items'
                , type : 'DELETE'
                , data : JSON.stringify(boardData)
                , contentType : 'application/json; charset=UTF-8'
                , success : function(data){
                    console.log(data);
                }
                , error : function(req, status, error) {
                    console.log(req + status + error);
                }
            });

        });

        $('#initBtn').on('click', function(){
            console.log('init');
            // 검색조건 초기화 버튼의 기능을 완성하세요.
        });

    });

    function getCategoryList(){
        let codeData = {
            grp_cd : 'CATEGORY'
        }
        $.ajax({
            url: '/codes'
            , type: 'GET'
            , data: codeData
            , contentType: 'application/json; charset=UTF-8'
            , success: function (data) {
                console.log(data);
                //drawCategoryList(data);
            }
            , error: function (req, status, error) {
                console.log(req + status + error);
            }
        });
    }

    function drawCategoryList(data) {
        $('#category').empty();
        let html = '';
        html = '<option value="">카테고리</option>';

        for (let i = 0; i < data.length; i++){
            html += '<option value="' + data[i]['cd'] +'">'+ data[i]['cd_nm']+'</option>'
        }

        $('#category').html(html);
    }

    function drawTable(data){

        let html = '';
        for (let i = 0; i< data.length; i++){
            let item = {};
            item = data[i];
            console.log(item);

            html += '<tr>';
            html += ' <td>' + item['seq']+'</td>';
            html += ' <td>' + item['category_nm'] + '</td>'; // 카테고리명을 표시하세요. (코드가 아닌 코드의 명칭)
            html += ' <td>' + item['title']+'</td>';
            html += ' <td>' + item['contents']+'</td>';
            html += ' <td>' + item['author']+'</td>';
            html += ' <td>' + item['reg_dtm']+'</td>';
            html += '</tr>';
            $('#tb1').html(html);
        }

    }
</script>
<body>
    <input id="seq" type="text" placeholder="순번">
    <select id="category">
        <option value="">카테고리</option>
    </select>
    <input id="title" type="text" placeholder="제목">
    <input id="contents" type="text" placeholder="내용">
    <input id="author" type="text" placeholder="작성자">
    <button id="searchBtn">조회</button>
    <button id="insertBtn">입력</button>
    <button id="updateBtn">수정</button>
    <button id="deleteBtn">삭제</button>
    <button id="initBtn">삭제</button>

    <table>
        <colgroup>
            <col style="width:5%;"/>
            <col style="width:10%;"/>
            <col style="width:15%;"/>
            <col style="width:45%;"/>
            <col style="width:10%;"/>
            <col style="width:15%;"/>
        </colgroup>
        <thead style="background-color:lightsteelblue;">
            <th>순번</th>
            <th>카테고리</th>
            <th>제목</th>
            <th>내용</th>
            <th>작성자</th>
            <th>작성일시</th>
        </thead>
        <tbody id="tb1">

        </tbody>
    </table>
    <br/>
    <span>총 건수 : </span><span id="cnt"></span>건
    &nbsp;&nbsp;
    <select id="row_cnt">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>

</body>
</html>