<html xmlns:tm="http://www.thymeleaf.org">
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="/js/jquery-3.6.0.min.js"></script>
<style>
    table {border:solid 1px black; border-collapse: collapse}
    tr {border:solid 1px black}
    th {border:solid 1px black}
    td {border:solid 1px black}
</style>
<script>
    $(document).ready(function(){
        $('#searchBtn').on('click', function(){
            console.log('search');

            $.get('/boards', function(data){
                console.log(data);
                drawTable(data);
            });
            /*
            $.ajax({
                url : '/boards'
                , type : 'GET'
                , data : {id : "3", gender : "M"}
                , contentType : 'application/json; charset=UTF-8'
                , success : function(data){
                    console.log(data);

                }
                , error : function(req, status, error) {
                    console.log(req + status + error);
                }
            });
             */
        });

        $('#insertBtn').on('click', function(){
            console.log('insert');
            var title = '';
            var contents = '';
            var author = '';
            title = $('#title').val();
            contents = $('#contents').val();
            author = $('#author').val();
            console.log(title + ', ' + contents + ', ' + author);

            var boardData = {};
            boardData['title'] = title;
            boardData['contents'] = contents;
            boardData['author'] = author;
            console.log(boardData);


            $.ajax({
                url : '/boards'
                , type : 'POST'
                , data : JSON.stringify(boardData)
                , contentType : 'application/json; charset=UTF-8'
                , success : function(data){
                    console.log(data);
                }
                , error : function(req, status, error) {
                    console.log(req + status + error);
                }
            });


        });

    });

    function drawTable(data){

        var html = '';
        for (i = 0; i< data.length; i++){
            var item = {};
            item = data[i];
           console.log(item);

           html += '<tr>';
           html += '<td text-align="right" style="color:red;">' + item['title']+'<td>'; // item.title
           html += '<td>' + item['contents']+'<td>';
           html += '<td>' + item['author']+'<td>';
           html += '</tr>';
           $('#tb1').html(html);
        }

    }
</script>
<body>
<button id="searchBtn">조회</button>
<table id="tb1">
</table>
<br>
<input id="title" type="text">
<input id="contents" type="text">
<input id="author" type="text">
<button id="insertBtn">입력</button>
</body>
</html>